{
  "extension": [
    ".ts"
  ],
  "require": [
    "ts-node/register"
  ],
  "include": [
    "src/typescript/**/*.ts"
  ],
  "exclude": [
    "**/*.d.ts"
  ],
  "reporter": [
    "html",
    "text"
  ],
  "all": true
}